#heart-background {
    background: url("/src/img/3hearts.png") no-repeat center right;
    background-size: 20%;
    animation: fadeIn 1.5s normal forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
        transform: translateY(-300%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
